[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-instafail = "*"
pytest-mypy = "*"
pytest-pycharm = "*"
pytest-pylint = "*"
pytest-sugar = "*"
pytest-twisted = "*"
pytest-watch = "*"
pytest-xdist = "*"
radon = "*"
tox = "*"
versioneer = "*"
yapf = "*"

[packages]
graphene = "<3"
graphql-core = "<3"
grpcio = "*"
grpcio-tools = "*"
sanic = "*"
sanic-graphql = "*"
ujson = "*"
uvloop = "*"
websockets = "*"

[requires]
python_version = "3.8"
